
/* img{
    margin: 0 auto;
    width:80%;
    height: 50vh;
    border-radius: 20px

}
.img-title{
    display:flex;
    flex-direction: column;
}
p{
    width: 80%;
    margin: 0 auto;
}
.pDiv{
    padding: 20px 0;
}
*/
 